.main-section {
  margin-top: 3rem;
  min-height: 68vh
}

.section-title {
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  color: var(--maximum-yellow-red);
}

.cards-box {
  margin-top: 2rem !important;
}

.card-custom {
  border: 2px solid var(--black-olive);
  width: 600px;
  height: 300px;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: var(--eggshell);
  position: relative;
  overflow: hidden;
  transition: 100ms ease-in-out;
}

.card-custom>.text-wrapper {
  opacity: 0;
}

.card-custom:hover>.text-wrapper {
  opacity: 1;
}

.title-div {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  margin-left: 15px;
}

.img-element {
  display: block;
  width: 100%;
  object-position: center;
}

.text-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, .4);
  transition: 200ms ease-in-out;
}

.card-h1 {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--black-olive);
  transition: 100ms ease-in-out;
}

.card-h1:hover {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--maximum-yellow-red);
}

.card-icon {
  color: black !important;
  font-size: 2rem;
  margin-left: 10px;
  transition: 100ms ease-in-out;
}

.card-icon:hover {
  color: var(--granite-gray) !important;
  font-size: 2.5rem;
}

.card-h5 {
  font-weight: 400;
  margin-left: 15px;
}

@media (max-width: 576px) {
  .cards-box {
    margin-top: 2rem !important;
  }

  .card-custom {
    border: 2px solid var(--black-olive);
    width: 370px;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: var(--eggshell);
  }

  .title-div {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;

  }

  .img-element {
    display: none;
  }

  .card-h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-olive);
  }

  .card-icon {
    color: black !important;
    font-size: 2rem;
    margin-left: 10px;
  }

  .card-icon:hover {
    color: var(--granite-gray) !important;
    font-size: 2.5rem;
  }

  .card-h5 {
    font-weight: 400;
    margin-left: 15px;
  }

  .card-custom>.text-wrapper {
    opacity: 1;
  }

  .card-custom:hover>.text-wrapper {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .cards-box {
    margin-top: 2rem !important;
  }

  .card-custom {
    border: 2px solid var(--black-olive);
    width: 320px !important;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: var(--eggshell);
  }

  .title-div {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    margin-left: 15px;
  }

  .img-element {
    display: none;
  }

  .card-h1 {
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-olive);
  }

  .card-icon {
    color: black !important;
    font-size: 2rem;
    margin-left: 10px;
  }

  .card-h5 {
    font-weight: 400;
    margin-left: 15px;
  }

  .card-custom>.text-wrapper {
    opacity: 1;
  }

  .card-custom:hover>.text-wrapper {
    opacity: 1;
  }
}