/* h2 {
    color: var(--granite-gray);
    margin-top: 2rem !important;
}

h3 {
    margin-top: 2rem !important;
    font-size: 1.5rem !important;
}

.ulEl {
    font-size: 1.5rem !important;
    margin-top: 1.2rem !important;
} */