/* .container {
    margin-top: 7rem;
}
h1 {
    font-weight: 600;
    font-size: 3rem !important;
    color: var(--maximum-yellow-red);
}

p {
    font-size: 1.8rem !important;
    color: var(--granite-gray);
    margin-top: 3rem !important;
} */